<app-header></app-header>

<h3>{{'subsystemList.heading' | translate}}</h3>
<p [innerHTML]="'subsystemList.intro.p1' | translate"></p>
<p [innerHTML]="'subsystemList.intro.p2' | translate"></p>
<p [innerHTML]="'subsystemList.intro.p3' | translate"></p>
<p [innerHTML]="'subsystemList.intro.p4' | translate"></p>

<div class="alert alert-warning" role="alert" *ngIf="message">
  {{message}}
</div>

<div class="btn-group" role="group" [attr.aria-label]="'subsystemList.selectInstance' | translate">
  <button *ngFor="let instance of getInstances()"
    type="button" [ngClass]="getInstance() == instance ? 'btn btn-primary' : 'btn btn-secondary'"
    (click)="switchInstance(instance)">{{instance}}</button>
</div>

<app-search></app-search>
<br>

<div *ngFor="let subsystem of subsystems">
  <app-subsystem-item [subsystem]="subsystem"></app-subsystem-item>
</div>
