<div class="card">
  <div class="card-header pointerCursor" (click)="showDetail()">
    {{subsystem.fullSubsystemName}}
    <span class="badge badge-secondary" *ngIf="!subsystem.methods.length && subsystem.subsystemStatus == 'OK'">{{'subsystem.statusEmpty' | translate}}</span>
    <span class="badge badge-danger" *ngIf="subsystem.subsystemStatus == 'ERROR'">{{'subsystem.statusError' | translate}}</span>
  </div>
  <div class="card-body" *ngIf="subsystem.subsystemStatus == 'ERROR'">
    <p>{{'subsystem.statusErrorInfo' | translate}}</p>
  </div>
  <div class="card-body" *ngIf="subsystem.subsystemStatus == 'OK' && !subsystem.methods.length">
    <p>{{'subsystem.statusEmptyInfo' | translate}}</p>
  </div>
  <div class="card-body" *ngIf="subsystem.subsystemStatus == 'OK' && subsystem.methods.length">
    <p *ngFor="let method of getMethodsPreview()">
      {{method.fullMethodName}}
      <a href="{{getApiUrlBase()}}{{method.wsdl}}" class="badge badge-success"
        *ngIf="method.wsdl" [target]="'_blank'">WSDL</a>
      <span class="badge badge-danger" *ngIf="method.methodStatus == 'ERROR'">{{'subsystem.statusWsdlError' | translate}}</span>
      <span class="badge badge-danger" *ngIf="method.methodStatus == 'TIMEOUT'">{{'subsystem.statusWsdlTimeout' | translate}}</span>
      <span class="badge badge-warning" *ngIf="method.methodStatus == 'SKIPPED'">{{'subsystem.statusWsdlSkipped' | translate}}</span>
  </p>
    <p *ngIf="getNotInPreview() > 0" class="pointerCursor" (click)="showDetail()">
      {{'subsystem.moreMethods' | translate:{"count": getNotInPreview()} }}
    </p>
  </div>
</div>
