<div class="card">
  <div class="card-header">
    Search filters
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="filterInput">Filter by method name</label>
          <input type="text" class="form-control" id="filterInput"
            [(ngModel)]="filter" (ngModelChange)="setFilter(filter)">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="limitSelect">Amount of subsystems to display</label>
          <select class="form-control" id="limitSelect"
            [(ngModel)]="limit" (change)="setLimit(limit)">
            <option>10</option>
            <option>20</option>
            <option>50</option>
            <option>All</option>
          </select>
        </div>
      </div>
      <div class="col-sm-3">
          <div class="form-check">
              <input type="checkbox" class="form-check-input" id="nonEmptyCheck" 
              [(ngModel)]="nonEmpty" (change)="setNonEmpty(nonEmpty)">
            <label class="form-check-label" for="nonEmptyCheck">Show only producer subsystems</label>
          </div>
        </div>
    </div>
  </div>
</div>