<app-header></app-header>

<h3>{{'subsystem.heading' | translate:{"subsystem": subsystemId, "instance": getInstance() === "" ? paramsInstance : getInstance()} }}</h3>
<p [innerHTML]="'subsystem.intro.p1' | translate"></p>

<app-messages [message]="message" [subsystemId]="subsystemId"></app-messages>

<button type="button" class="btn btn-secondary" (click)="goToList()">{{'subsystem.allSystemsBtn' | translate}}</button>

@if ((subsystemSubject | async); as subsystem) {
  <div>
    <div class="card">
      <div class="card-header">
        {{subsystem.fullSubsystemName}}
        @if (!subsystem.methods.length && !subsystem.services.length && subsystem.subsystemStatus === 'OK') {
          <span class="badge bg-secondary">{{'subsystem.statusEmpty' | translate}}</span>
        }
        @if (subsystem.subsystemStatus === 'ERROR') {
          <span class="badge bg-danger">{{'subsystem.statusError' | translate}}</span>
        }
      </div>
      @if (subsystem.subsystemStatus === 'ERROR') {
        <div class="card-body">
          <p>{{'subsystem.statusErrorInfo' | translate}}</p>
        </div>
      }
      @if (subsystem.subsystemStatus === 'OK' && !subsystem.methods.length && !subsystem.services.length) {
        <div class="card-body">
          <p>{{'subsystem.statusEmptyInfo' | translate}}</p>
        </div>
      }
      @if (subsystem.subsystemStatus === 'OK' && (subsystem.methods.length || subsystem.services.length)) {
        <div class="card-body">
          @if (subsystem.methods.length) {
            <h6 class="card-subtitle text-muted">SOAP</h6>
          }
          @for (method of subsystem.methods; track method) {
            <p>
              {{method.fullMethodName}}
              @if (method.wsdl) {
                <a href="{{getApiUrlBase()}}{{method.wsdl}}" class="badge bg-success"
                [target]="'_blank'">WSDL</a>
              }
              @if (method.methodStatus === 'ERROR') {
                <span class="badge bg-danger">{{'subsystem.statusWsdlError' | translate}}</span>
              }
              @if (method.methodStatus === 'TIMEOUT') {
                <span class="badge bg-danger">{{'subsystem.statusWsdlTimeout' | translate}}</span>
              }
              @if (method.methodStatus === 'SKIPPED') {
                <span class="badge bg-warning">{{'subsystem.statusWsdlSkipped' | translate}}</span>
              }
            </p>
          }
          @if (subsystem.services.length) {
            <h6 class="card-subtitle text-muted">REST</h6>
          }
          @for (service of subsystem.services; track service) {
            <p>
              {{service.fullServiceName}}
              @if (service.openapi) {
                <a href="{{getApiUrlBase()}}{{service.openapi}}" class="badge bg-success"
                [target]="'_blank'">OpenAPI</a>
              }
              @if (service.status === 'ERROR') {
                <span class="badge bg-danger">{{'subsystem.statusOpenapiError' | translate}}</span>
              }
              @if (service.status === 'TIMEOUT') {
                <span class="badge bg-danger">{{'subsystem.statusOpenapiTimeout' | translate}}</span>
              }
              @if (service.status === 'SKIPPED') {
                <span class="badge bg-warning">{{'subsystem.statusOpenapiSkipped' | translate}}</span>
              }
            </p>
          }
        </div>
      }
    </div>
  </div>
}
<br>

  @if (subsystemSubject.value?.methods?.length || subsystemSubject.value?.services?.length) {
    <p>
      <button type="button" [ngClass]="'btn btn-secondary'" (click)="scrollToTop()">{{'scrollToTop' | translate}}</button>
    </p>
  }
